{% extends 'main.html' %}
{% load static %}
{% block content %}



<div class="container">
    <header>
        <nav>
            <a href="#home">HOME</a> |
            <a href="#menu">MENU</a> |
            <a href="#location">LOCATION</a> |
            <a href="#aboutus">ABOUT US</a> |
            <a href="#contactus">CONTACT US</a>
        </nav>
    </header>

    <section id="home">
        <img src="{% static 'images/banner1.jpg' %}" >
        <!-- Add images here -->
    </section>

    <section id="menu">
        <h2>Our Menu</h2>
        <div class="grid-container">
            <img src="{% static 'images/menu1.jpg' %}" alt="Menu item 1">
            <img src="{% static 'images/menu2.jpg' %}" alt="Menu item 2">
            <img src="{% static 'images/menu3.jpg' %}" alt="Menu item 3">
        </div>
    </section>

    <section id="location">
        <h2>Location</h2>
        <p>38-36,Barista,Quthbullapur,Hyderabad</p>
        <!-- Add map widget here -->
    </section>

    <section id="contactus">
        <h2>Contact Us</h2>
        <p>Got questions? Want to place an order? Call us at +91987654321 or email us at info@baristafastfood.com</p>
    </section>
</div>





<div>
    <div>
        <button id="open-chatbot-button">
            <div id="img-div">
                <div id="img-msg">
                    <img src="https://cdn.chatbot.com/widget/61f28451fdd7c5000728b4f9/DSjjJVtWgP_jxGWP.png" alt="" class="lazy-img-loaded">
                </div>
            </div>
        </button>
    </div>

    <div id="chatbot-container">
        <button id="close-chatbot-button">X</button>
        <!-- Chatbot interface content goes here -->
        <iframe width="350" height="600" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/28e2786f-0bd7-4342-839e-4fa1dde36809"></iframe>
    </div>
</div>

{% endblock %}